openapi: 3.1.0
info:
  title: Check Point CloudGuard Access Rules API
  description: REST API for Check Point CloudGuard Native cloud security posture management. Manages cloud accounts, assets, security policies, and risk findings across AWS, Azure, and GCP environments.
  version: '1.0'
  contact:
    name: Check Point CloudGuard Support
    url: https://docs.cgn.portal.checkpoint.com/
servers:
- url: https://api.dome9.com/v2
  description: CloudGuard Production
security:
- basicAuth: []
tags:
- name: Access Rules
paths:
  /show-access-rulebase:
    post:
      operationId: showAccessRulebase
      summary: Show access rulebase
      tags:
      - Access Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Layer name
      responses:
        '200':
          description: Rulebase
  /add-access-rule:
    post:
      operationId: addAccessRule
      summary: Add an access rule
      tags:
      - Access Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - layer
              - position
              properties:
                layer:
                  type: string
                position:
                  oneOf:
                  - type: string
                  - type: object
                name:
                  type: string
                source:
                  type: array
                  items:
                    type: string
                destination:
                  type: array
                  items:
                    type: string
                service:
                  type: array
                  items:
                    type: string
                action:
                  type: string
                  enum:
                  - Accept
                  - Drop
                  - Reject
      responses:
        '200':
          description: Access rule created
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
