openapi: 3.1.0
info:
  title: Check Point CloudGuard Access Rules Identity API
  description: REST API for Check Point CloudGuard Native cloud security posture management. Manages cloud accounts, assets, security policies, and risk findings across AWS, Azure, and GCP environments.
  version: '1.0'
  contact:
    name: Check Point CloudGuard Support
    url: https://docs.cgn.portal.checkpoint.com/
servers:
- url: https://api.dome9.com/v2
  description: CloudGuard Production
security:
- basicAuth: []
tags:
- name: Identity
paths:
  /idasdk/add-identity:
    post:
      operationId: addIdentity
      summary: Associate a user identity with an IP
      tags:
      - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - shared-secret
              - requests
              properties:
                shared-secret:
                  type: string
                requests:
                  type: array
                  items:
                    type: object
                    properties:
                      ip-address:
                        type: string
                      user:
                        type: string
                      machine:
                        type: string
                      session-timeout:
                        type: integer
      responses:
        '200':
          description: Identity registered
  /idasdk/delete-identity:
    post:
      operationId: deleteIdentity
      summary: Remove a user identity association
      tags:
      - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - shared-secret
              - requests
              properties:
                shared-secret:
                  type: string
                requests:
                  type: array
                  items:
                    type: object
                    properties:
                      ip-address:
                        type: string
                      revoke-method:
                        type: string
      responses:
        '200':
          description: Identity removed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
